*{
  padding: 0px;
  margin: 0px;
  font-family: Sans-Serif Trebuchet MS;
  box-sizing: border-box;
}

header{
  background-color: white;
}

li{
  list-style: none;
}

a{
 color: black; 
 text-decoration: none;
}

.navbar{
  min-height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
}

.nav-menu{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
}

.nav-link{
  transition: 0.7s ease;
}

.nav-link:hover{
  color: grey;
}

.hamburger{
  display: none;
  cursor: pointer;
}

.bar{
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-Transition: all 0.3s ease-in-out;
  Transition: all 0.3s ease-in-out;
  background-color: black;
}

@media(max-width: 768px){
  .hamburger{
    display: block;
  }
  .hamburger.active.bar:nth-child(2){
   opacity: 0; 
  }
  .hamburger.active.bar:nth-child(1){
  transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active.bar:nth-child(3){
  transform: translateY(-8px) rotate(-45deg);
  }
  .nav-menu{
    position: fixed;
    left: -100%;
    top: 70px;
    gap: 0;
    flex-direction: column;
    background-color: black;
    width: 65%;
    text-align: center;
    transition: 0.3s;
  }
  .nav-item{
    margin: 16px 0;
  }
  .nav-menu.activate{
  left: 0;  
  }
}

.nvidia{
 height: 45px;
}
.search{
  height: 30px;
}
.profile{
  height: 30px;
}

p{
  font-family: Roboto, Arial;
  margin: 0;
}


.energy{
font-weight: bold;
margin-top: 60px;
margin-bottom: 20px;
}

.slb-first{
  font-weight: bolder;
  font-size: xx-large;
  margin-bottom: 30px;
  line-height: 40px;
  width: 400px;
}

.slb-second{
  color: rgb(26, 26, 26);
  font-size: 24px;
  width: 400px;
  margin-bottom: 20px;
}

.images{
  width: 500px;
}

.main{
  display: flex;
  flex-direction: row;
}

.first-div{
  flex: 1;
}

.second-div{
  flex: 1;
}

.announcement-div{
  height: 30px;
  width: 210px;
  background-color: rgb(118, 185, 0);
  padding: 8px;
  cursor: pointer;
  margin-top: 60px;
}

.announcement{
  font-weight: bold;
  text-align: center;
  padding: 8px;
}

.text-division{
  display: flex;
  flex-direction: row;
  background-color: black;
  padding-top: 60px;
}

.company-div,
.news-div,
.popular-div{
  flex: 1;
}

.company-main{
  color: whitesmoke;
  font-weight: bold;
  font-size: 25px;
}

.about-main{
  color: rgb(118, 185, 0) ;
  line-height: 30px;
}

.Subscribe-button{
  background-color: rgb(118, 185, 0);
  color: white;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  margin-right: 8px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 16px;
  padding-right: 16px;
  transition: opacity 0.15s;
}

.Subscribe-button:hover{
  opacity: 0.8;
}

.Subscribe-button:active{
  opacity:0.5 ;
}

.subscribe-divison{
  display: flex;
  flex-direction: row;
  background-color: black;
  padding-top: 60px;
  padding-bottom: 100px;
  justify-content: center;
  align-items: center;

}

.company-news{
  color: whitesmoke;
  font-weight: bold;
  font-size: 16px;
}

.sign-div{
  width: 200px;
}

.sign-button{
  width: 100px;
}

.img-class{
  width: 60px;
  height: 60px;
}

.img-div{
  width: 100px;
}