*{
  padding: 0px;
  margin: 0px;
  font-family: Sans-Serif Trebuchet MS;
  box-sizing: border-box;
}

.header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 100px;
  background-color: grey;
  display: flex;
  justify-content: space-between;
}